<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54966987696-9mh7uf1nntcb769pm2uvlun3vmt0tlcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54966987696-9mh7uf1nntcb769pm2uvlun3vmt0tlcp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>54966987696-02auvrr87qlvd8uhdhp6g49t5b3a3kps.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrSl48JCvlR8fF7Yo1G56DLdMN2iek5xg</string>
	<key>GCM_SENDER_ID</key>
	<string>54966987696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoFix</string>
	<key>PROJECT_ID</key>
	<string>autofix-336509</string>
	<key>STORAGE_BUCKET</key>
	<string>autofix-336509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54966987696:ios:4f768ecb85647b83a84475</string>
</dict>
</plist>